<div class="category-container bg-light d-flex  justify-content-between align-items-center">
    <div class="img-container">
        <img src= <%=category.icon%> class="img-thumbnail w-100 h-100" alt="icon">
    <div class="category-details">
        <h6>
             <%=category.name%>
        </h6>
    </div>

    <div class="category-total">
        <h6>
            $<%=category.expenses.sum(:amount)%>
        </h6>

    </div>
</div>